

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F5F8;
  max-width: 100%;
  overflow-x: hidden;
}
.fullbox{
 min-width: 100%;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
}

.about-text{
  text-align: center;
  margin-top: 10px;
  color: gray;
  font-size: 18px;
}

.container{
  display: flex;
  margin: 0 auto;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
.btn{
  display: flex;
  justify-content: space-between;
 

}
button{
  background: rgb(240, 240, 240);
  padding: 15px 66.5px;
  font-size: 18px;
  border: none;
  
}
button:focus{
  background: #fff;
}
.history{
  border-radius: 10px 0 0 0;
}
.goals{
  border-radius: 0 10px 0 0;
}
button:hover{
  background-color: #EBF7FF;
  transition: 0.5s ease;
  color: blue;
}

img{
  height: 340px;
  width: 600px;
  border-radius: 10px;
}

.text-container{
  width: 550px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgb(233, 233, 233);
  border-radius: 10px 10px 0 0;
  
}

h5 , .text{
  margin: 0 25px;
}
h5{
  font-size: 20px;
  margin-top: 25px;
}
.text{
  color: gray;
  font-size: 18px;
  line-height: 25px;
  margin: 25px ;
}

